<div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body p-0">
                            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                <table class="table table-striped mb-0">
                                <thead style="background-color: #002d72;">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">En Uso</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of jaulas; track item.idJaula) {
                                        <tr>
                                            <td>{{ item.idJaula }}</td>
                                            <td>{{ item.nombre }}</td>
                                            @if (item.enUso) {
                                                <td>Sí</td>
                                            }@else {
                                                <td>No</td>
                                            }
                                            <td>
                                                <button class="btn btn-success me-3">Editar</button>
                                                <button class="btn btn-danger">Eliminar</button>
                                            </td>
                                        </tr>
                                    } @empty {
                                        <tr>
                                            No hay jaulas
                                        </tr>
                                    }
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary w-25 my-3">Agregar</button>
            </div>
        </div>
    </div>
</div>