<div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <form class="mt-3" (submit)="filtrar(fecha.value, $event)">
                <label class="form-label d-inline me-3" for="fechaFiltro">Fecha</label>
                <input class="form-control d-inline w-25 me-3" type="date" id="fechaFiltro" name="fechaFiltro" #fecha />
                <button class="btn btn-primary d-inline" type="submit">Filtrar</button>
            </form>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body p-0">
                            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                <table class="table table-striped mb-0">
                                <thead style="background-color: #002d72;">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <!--th scope="col">Fecha</th-->
                                        <th scope="col">Inicio A.</th>
                                        <th scope="col">Fin A.</th>
                                        <th scope="col">Proveedor</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Jaula</th>
                                        <th scope="col">Inicio R.</th>
                                        <th scope="col">Fin R.</th>
                                        <th scope="col">Acciones</th>
                                        <th scope="col">Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of turnos; track item.id) {
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <!--td>{{ item.fecha }}</td-->
                                            <td>{{ item.horaInicioAgendamiento }}</td>
                                            <td>{{ item.horaFinAgendamiento }}</td>
                                            <td>{{ proveedoresDict[item.idProveedor] }}</td>
                                            <td>
                                                @if (item.horaFinRecepcion) {
                                                    Completado
                                                } @else if (!item.horaInicioRecepcion) {
                                                    Pendiente
                                                } @else {
                                                    En recepción
                                                }
                                            </td>
                                            <td>{{ jaulasDict[item.idJaula] }}</td>
                                            <td>{{ item.horaInicioRecepcion }}</td>
                                            <td>{{ item.horaFinRecepcion }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-success me-1" (click)="editarTurno(item.id)">Editar</button>
                                                <button class="btn btn-sm btn-danger me-1"  (click)="eliminarTurno(item.id)">Eliminar</button>
                                                @if (!item.horaInicioRecepcion) {
                                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#jaulaModal" (click)="seleccionarTurno(item.id)">
                                                    Iniciar
                                                    </button>
                                                } @else if (!item.horaFinRecepcion) {
                                                    <button class="btn btn-sm btn-success"  (click)="finalizar(item.id)">
                                                    Finalizar
                                                    </button>
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="seleccionarTurno(item.id)">
                                                    Detalle
                                                </button>
                                            </td>
                                        </tr>
                                    } @empty {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No hay turnos</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary w-25 my-3" routerLink="add">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="jaulaModal" tabindex="-1" aria-labelledby="jaulaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="jaulaModalLabel">Seleccione la Jaula</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label" style="font-weight: bold;" for="jaulas">Jaulas</label>
                <select class="form-select" id="jaulas" [(ngModel)]="jaula.id">
                    @for (item of jaulas; track $index) {
                        <option [value]="item.id" (click)="seleccionarJaula(item.id)">{{item.nombre}}</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="iniciar(idTurno)">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<app-detalle [idTurno]="idTurno"></app-detalle>